@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import "tailwindcss";

* {
    font-family: "Luckiest Guy", cursive;
    transition: all 1s ease-in-out;
}

:root {
    --primary: #002387;
    --background: aliceblue;
    --accent: white;
    --secondary: black;
}

html,
body {
    @apply overflow-x-hidden;
}

body {
    background-color: var(--primary);
}

.app-container {
    @apply flex flex-col min-h-screen container mx-auto;
}

.main-menu {
    @apply p-3 flex flex-col min-h-screen 2xl:gap-8 gap-5;
}

.main-menu h1 {
    @apply text-center text-4xl mt-3;
    color: var(--accent)
}

.difficulty-buttons-container {
    @apply min-h-screen flex flex-col justify-start items-center;
}

.inner-difficulty-buttons-container {
    @apply flex 2xl:flex-row md:flex-row sm:flex-row flex-col 2xl:gap-7 gap-3 w-full justify-center items-center;
}

button {
    @apply cursor-pointer p-3 w-52 rounded-lg text-center uppercase text-xl shadow-lg;
    background-color: var(--background);
    color: var(--secondary);
}

.keyboard-buttons-box {
    @apply flex gap-3 flex-wrap justify-center;
}

.board-button {
    @apply w-20 p-2 border rounded;
}

.label-difficulty-box {
    @apply flex gap-5 p-3;
}

.label-difficulty-box h1 {
    @apply text-2xl;
}

.label-difficulty-box p {
    @apply text-lg mt-0.5;
}

.label-difficulty-box h1,
.label-difficulty-box p {
    color: var(--accent);
}

.board-slots {
    @apply inline-block w-6 text-center text-2xl border-b-2 mx-1;
    color: var(--accent);
    border-color: var(--accent);
}

.wrong-guess-box {
    @apply mt-5 flex justify-center gap-3;
}

.game-board {
    @apply text-center p-6;
}

.game-board h2 {
    @apply text-3xl mb-4;
}

.game-board h2,
.wrong-guess-box p {
    color: var(--accent);
}

.output-word {
    @apply flex justify-center space-x-2 mb-6;
}