@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import "tailwindcss";

* {
    font-family: "Luckiest Guy", cursive;
    transition: all 1s ease-in-out;
}

:root {
    --primary: #002387;
    --background: aliceblue;
    --accent: white;
    --secondary: black;
}

html, body {
    @apply overflow-hidden;
}

body {
    background-color: var(--primary);
}

.app-container {
    @apply flex flex-col min-h-screen container mx-auto;
}

.main-menu {
    @apply p-3 flex flex-col min-h-screen 2xl:gap-8 gap-5;
}

.main-menu h1 {
    @apply text-center text-4xl mt-3;
    color: var(--accent)
}

.difficulty-buttons-container {
    @apply min-h-screen flex flex-col justify-start items-center;
}

.inner-difficulty-buttons-container {
    @apply flex 2xl:flex-row md:flex-row sm:flex-row flex-col 2xl:gap-7 gap-3 w-full justify-center items-center;
}

button {
    @apply cursor-pointer p-3 w-52 rounded-lg text-center uppercase text-xl shadow-lg;
    background-color: var(--background);
    color: var(--secondary);
}